// sidebar
$themeColor: #FF6447;
$themeDeepColor: #FF3633;
$themeGradient: #FF896E;
$secondThemeColor: #FEE3DF;
$menuBg: #666;
$darkShadow: #444;

$padding: 16px;

$--bgColor: #f0f0f0;
$--color-white: #FFF;
$--color-black: #000;

$--layout-content-width: 1200px;
$--color-primary: #2C84F0 !default;

$--color-success: #67c23a !default;
$--color-warning: #F4BA45 !default;
$--color-danger: #FF5454 !default;
$--color-price: #ff644d !default;
$--color-info: #909399 !default;

$--font-color-primary: #303133 !default;
$--font-color-base: #666 !default;
$--font-color-secondary: #909399 !default;
$--font-color-placeholder: #C0C4CC !default;
$--border-color-base: #DDDDDD !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;

$--container-bg-color: #F5F5F5;
$--bg-gray: #FAFAFA;
$--bg-dark: #1E243D;
$--divide-dark: #2C324F;
$--divide-gray: #EBEDF0;

$--font-size-mini: 10px;
$--font-size-small: 12px;
$--font-size-base: 14px;
$--font-size-medium: 16px;
$--font-size-large: 18px;

$--font-weight-light: 300;
$--font-weight-normal: 400;
$--font-weight-medium: 500;
$--font-weight-semibold: 600;
$--font-weight-bold: 700;

$--font-line-height-mini: 16px;
$--font-line-height-small: 20px;
$--font-line-height-base: 24px;
$--font-line-height-medium: 28px;
$--font-line-height-large: 32px;


// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;
/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import "~element-ui/packages/theme-chalk/src/index";